.container {
    display: flex;
    justify-content: space-between;
}
#header{
    position: fixed;
    top: 0px;
    width: 100%;
}


#header img {
    display: inline-block;
    width: 100px;
    justify-content: right;
}

iframe {
    margin-top: 200px;

}
nav {
    margin-top: 0px;
    display: fixed ;
    top: 0px;
}

@media (max-width: 600px) {
    #header-img {
        display: inline-block;
        width: 100%;
    }
    #nav-bar {
        display: block ;
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .container {
        display: block;
    }
    #video{
        display: inline-block;
        width: 200px;
        height:200px;

    }
}
