.container {
    display: flex;
    justify-content: space-between;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
}


header img {
    display: inline-block;
    width: 100px;
    justify-content: right;
}

iframe {
    margin-top: 200px;
}
nav {
    margin-top: 0px;
    display: fixed ;
    top: 0px;
}
